<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <title>baazarBay</title>
</head>
<body>
    <nav class="navbar">
        <div>BazaarBay</div>
        <div>
            <% if (user) { %>
                <span>Hello, <%= user.firstName + user.lastName %>!</span>
                <form action="/logout" method="POST" style="display: inline;">
                    <button class="logout-button" type="submit">Logout</button>
                </form>
            <% } else { %>
                <a href="/login"><button class="btn">Sign In</button></a>
                <a href="/signup"><button class=" btn">Sign Up</button></a>
            <% } %>
        </div>
    </nav>
</body>
</html>

